{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <!-- pet -->
    <div class="pet about">
        <div class="container">
            <div class="row d_flex">
                <div class="col-md-6">
                    <div class="titlepage text_align_left">
                        <h2>About Us</h2>
                        <p>variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                            some form, by injected humour, or randomised words which don't look even slightly
                            believable. If you are going</p>
                        <a class="read_more" href="javascript:void(0)">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end pet -->
{% endblock content %}
